<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_NinjaTutorial">
  <test thread-count="5" name="Test_Ninja">
    <classes>
      <class name="com.testNg_runnerclass.RunnerClass_TestNGDemo"/>
    </classes>
  </test> <!-- Test_Ninja -->
</suite> <!-- Suite_NinjaTutorial -->
